@charset "UTF-8";

body {
  justify-content :center;
  align-items: center;
}

#logo {display: flex; flex-direction: column; justify-content: center; align-items: center; height: 30vh; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

img { 
  /*display: flex;*/
  width: 150px; 
  /*height: 150px;*/
  margin: 0; 
  padding: 0; 
}